<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="center">
        <h1>Min Dagbok</h1>
        <ul>
            <ul th:each="note : ${notes}">
               
               
                <h3 th:text="${note.date}"></h3>
                <h2 th:text="${note.headline}"></h2>
                <h4 th:text="${note.note}"></h4>
                <a th:href="@{/editForm/{id}(id=${note.id})}">redigera</a></br>
                <a th:href="@{/delete(id=${note.id})}">radera</a>
        
        
            </ul>
        </ul>
        <a th:href="@{/}">Lägg till anteckning</a>
        <a th:href="@{/display}">Sök mellan datum</a>
       
    </div>
   
</body>
</html>