<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="pic">
    <div id="center">
        
 <div id="titel">
    <h1 >Dagboken</h1>
<p>Gör dagens anteckning !</p>
 </div>


<form th:action="@{/new-note}" method="post">
<h3 id="kalender">Kalender</h3></br>
<input id="DateIndex" type="datetime-local" name="date" required>  
</br>
<h3 id="rubrik">Rubrik</h3></br>
<input id="HeadlineIndex" type="text" name="headline" required>
</br>
<h3 id="anteckning">Anteckning</h3></br>
<textarea id="NoteIndex" rows="10" cols="40" name="diarynote" required></textarea>
</br>
<button id="SaveBtn" type="submit">spara</button>
</form>
<button id="linkBtn3"><a th:href="@{/diary}">Titta på dagboken</a></button>
    </div>
</body>
</html>