<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="center">
 
<h1>Dagbok Test</h1>

<form th:action="@{/new-note}" method="post">
<h3>Kalender</h3></br>
<input id="Date" type="datetime-local" name="date" required>  
</br>
<h3>Rubrik</h3></br>
<input id="Headline" type="text" name="headline" required>
</br>
<h3>Anteckning</h3></br>
<textarea id="Note" rows="20" cols="60" name="diarynote" required></textarea>
</br>
<button id="SaveBtn" type="submit">spara</button>
</form>


    </div>
</body>
</html>